header
{
    background: blue;
    height: 100px;
}

nav ul li a
{
	color: #ffffff !important;
	font-size: 20px;
	font-weight: bold;
}
nav .dropdown ul
{
	background: green;
}
nav a.dropdown-item:hover
{
	background: none;
	color: red !important;
}

#slider
{
	background: grey;
	height: 350px;
}
#carouselExampleCaptions
{
	padding: 0;
}
.carousel-item img
{
	height: 350px;

}
.carousel-caption
{
	background: rgba(50, 120, 120, 0.7);
}

#display .card, #new-arrivals .card
{
	margin: 10px auto;
}