#main
{
	width: 80%;
	margin: 0 auto;
}

header
{
	background-color: blue;
	height: 100px;
	width: 100%;
	float: left;
}

#header-left
{
	background-color: green;
	height: 100px;
	width: 33%;
	float:left;
}
#header-center
{
	background-color: orange;
	height: 100px;
	width: 34%;
	float:left;
}
#header-right
{
	background-color: red;
	height: 100px;
	width: 33%;
	float:left;
}

nav
{
	background-color: darkblue;
	width: 100%;
	float: left;
}

/* list styles */
nav ul
{
	margin: 0;
	padding: 0;
	list-style: none;
	/* list-style-type: circle/disc/square/upper-alpha/upper-latin/upper-roman; */
	/* list-style-image: url(arrow.png); */
	/* list-style-position: inside; */
}

nav ul li a
{
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	padding: 5px;
}
nav ul li a:hover
{
	color: #000000;
	background-color: #ffffff;
	padding: 5px;
}
nav ul li
{
	float: left;
	margin: 10px 40px;
}
nav ul li ul
{
	background-color: darkblue;
	position: absolute;
	padding: 5px;
	display: none;
	width: 130px;
	padding: 10px;
}
nav ul li ul li
{
	float: none;
	margin: 10px 0;
}
nav ul li ul li ul
{
	float: none;
	margin: -100px 0 0 150px;
}
nav ul li:hover > ul
{
	display: block;
}

#slider
{
	background: grey;
	background-size: 100% 100%;
	height: 300px;
	width: 100%;
	float: left;
}
#slider img
{
	height: 300px;
	width: 100%;
}
#slider h1
{
	color: red;
	position: absolute;
	margin: -250px 0 0 20%;
	z-index: 1;
}

#display
{
	background-color: #eeeeee;
	height: 400px;
	width: 100%;
	float: left;
	display: flex;
}
.single_display
{
	width: 30%;
	border: 1px solid orange;
	border-radius: 20px;
	margin: 10px 1%;
	padding: 10px;
}
.single_display img
{
	height: 100px;
	width: 100px;
	margin: auto;
	display: block;
}

footer
{
	background-color: blue;
	height: 30px;
	width: 100%;
	float: left;
}