/* Font/Text Properties */ 
h1
{
	color: red;
	font-size: 32px;
	font-style: italic;
	font-family: arial;
	text-align: center;
	text-decoration: underline; /*line-through*/
	text-shadow: green 3px 3px 3px; 
	/* shadow-color x-distance y-distance blur-radius */
}

p
{
	font-style: italic;
	font-weight: bold; /*100-800*/
	text-transform: capitalize; /*uppercase/lowercase*/
	text-indent: 50px;
}

/* Box Properties */ 
#first
{
	/*background: linear-gradient(to top right,blue, aqua, darkblue);*/
	/*background: radial-gradient(blue, aqua, darkblue);*/
	/*background-image: url(river.jpg);*/
	/*background-size: 290px 200px;*/
	/*background-repeat: no-repeat;*/
	height: 200px;
	width: 290px;
	border-left: red solid 10px; /* color style size */
	/* dotted dashed double inset outset */
	/*margin: 10px auto;*/
	/*margin: 10px;*/
	/*margin: 10px 30px;*/ /* T-B L-R */
	/*margin: 10px 30px 10px 30px;*/ /* T R B L */
	/*margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom:20px;*/
	/*float: left;*/
}
#second
{
	background-color: green;
	width: 260px;
	padding: 10px 20px;
	float: left;
}
p
{
	background-color: lightblue;
	/*margin: 10px 20px;*/
	padding: 10px 20px;
	text-align: justify;
}